body {
  font-family: "Fredoka", sans-serif;
  margin: 20px;
  padding: 20px;
}

header {
  background-color: #e67ecb;
  color: rgb(184, 9, 61);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: rgb(184, 9, 61);
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(248, 137, 248);
  text-decoration: underline;
  margin: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #b41818;
}

footer {
  background-color: #000000;
  color: rgb(238, 148, 218);
  text-align: center;
  padding: 15px;
}

h1 {
  font-family: "Fredoka", sans-serif;
}
