body {
  font-family: "Fredoka", sans-serif;
  margin: 20px;
  padding: 20px;
}

header {
  background-color: #e67ecb;
  color: rgb(184, 9, 61);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: rgb(184, 9, 61);
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(245, 155, 245);
  text-decoration: underline;
  margin: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #b41818;
}

footer {
  background-color: #000000;
  color: rgb(238, 148, 218);
  text-align: center;
  padding: 15px;
}

h1 {
  font-family: "Fredoka", sans-serif;
}

.centro {
  display: block;
  margin: 0 auto;
}

header {
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/download\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: rgb(192, 34, 69);
}

.meio {
  text-align: center;
}

body {
  margin: 0;
  background-color: #db77ae;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap; /* faz quebrar linha no celular */
}

.galeria img {
  width: 320px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

.centro {
  display: block;
  margin: 0 auto;
  width: 350px;

  border: 6px solid #ff69b4;
  border-radius: 25px;

  box-shadow: 0 0 20px rgba(255, 105, 180, 0.7);

  padding: 8px;
  background-color: white;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.centro:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(255, 20, 147, 0.9);
}

.efeito {
  width: 320px;
  border: 6px solid #ff69b4;
  border-radius: 25px;

  box-shadow: 0 0 20px rgba(255, 105, 180, 0.7);

  padding: 8px;
  background-color: white;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.efeito:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(255, 20, 147, 0.9);
}

.centro {
  display: block;
  margin: 0 auto;

  margin-top: 60px;

  width: 350px;

  border: 6px solid #ff69b4;
  border-radius: 25px;

  box-shadow: 0 0 20px rgba(255, 105, 180, 0.7);

  padding: 8px;
  background-color: white;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.centro:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(255, 20, 147, 0.9);
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
}

.gifs {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;
  gap: 20px; /* espaço entre os GIFs */
  flex-wrap: wrap; /* quebra linha em telas menores */
}

.gifs img {
  max-width: 250px;
  height: auto;
}

.video {
  text-align: center;
}

.container-botao {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.botao-amy {
  background: linear-gradient(135deg, #ff4fa3, #ff85c1);
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(255, 79, 163, 0.4);
  transition: 0.3s ease;
}

.botao-amy:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #e63e8f, #ff4fa3);
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background-color: #ffe4f1;
  text-align: center;
}

th {
  background-color: #000000;
  color: rgb(216, 43, 124);
}

td {
  background-color: #e62575;
}

h2 {
  text-align: center;
  color: #000000;
}
